.window { 
    color: white;
    position: absolute;
    background: rgba(22,22,22,.2);

    border-style:solid;
    border-width:1px;

    display: none;
}

#dialog {
    width: 280px;
    left: 15px;
    top: 220px;

    font: .8em 'Helvetica Neue', sans-serif;

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#dialog-info {
    color: #2222ff;
    text-align: right;
}
.white {
    color : #ffffff;
}

#action {
    text-align: right;

    display: block;
    left: 200px;
    top: 20px;
    font: .9em 'Helvetica Neue', sans-serif;

    padding-left: 10px;
    padding-right: 10px;
}


#inventory {
    display: hide;
    left: 10px;
    top: 40px;
    /*height: 150px;*/ 
    width: 200px;
    font: .9em 'Helvetica Neue', sans-serif;

    padding-left: 10px;
    padding-right: 10px;
}
